# 每30秒换一次ip， 并请求一下app应用
* * * * * /root/dev/AutoProxy/client/request.sh /root/dev/AutoProxy/client/request.conf >> /var/py/AutoProxy/client/request.log
* * * * * sleep 30; /root/dev/AutoProxy/client/request.sh /root/dev/AutoProxy/client/request.conf >> /var/py/AutoProxy/client/request.log
