# 拨号， 改ip
* * * * * /usr/sbin/pppoe-stop;/usr/sbin/pppoe-start;/usr/bin/sh /root/AutoProxy/client/request.sh /root/AutoProxy/client/request.conf >> /root/logs/proxy_request.log

# 请求， 没每20秒一次
#* * * * * /usr/bin/sh /root/AutoProxy/client/request.sh /root/AutoProxy/client/request.conf >> /root/logs/proxy_request.log
#* * * * * sleep 20; /usr/bin/sh /root/AutoProxy/client/request.sh /root/AutoProxy/client/request.conf >> /root/logs/proxy_request.log
#* * * * * sleep 40; /usr/bin/sh /root/AutoProxy/client/request.sh /root/AutoProxy/client/request.conf >> /root/logs/proxy_request.log

